@model IEnumerable<StudentManagement.Models.Entities.StudentEntity>

@{
    ViewData["Title"] = "Student Management System";
}
<h4>Available Students</h4>



<div >
    <form method="get" class="row g-4 mb-2">
        <div class="col-md-5">
            @* <label class="form-label">Search Students</label> *@
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" name="Name" class="form-control" placeholder="Search by Student Name..." />
            </div>
        </div>
        <div class="col-md-2">
            @* <label class="form-label">Click to Search</label> *@
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </form>
</div>

<table class="table  table-striped mt-4">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h6>Total Student count (using LINQ): @Model.Count()</h6>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
